<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>green-api-test-task</title>
    <style>
      textarea {
        resize: none;
      }
    </style>
    <script type="module" src="./index.js"></script>
  </head>
  <body>
    <div id="app" class="container-xxl">
      <form class="row row-gap-3 py-3">
        <div class="col-md-6 d-flex flex-column row-gap-3">
          <input
            class="form-control form-control-sm"
            v-model="apiUrl"
            placeholder="apiUrl"
          />
          <input
            class="form-control form-control-sm"
            v-model="idInstance"
            placeholder="idInstance"
          />
          <input
            class="form-control form-control-sm"
            v-model="apiTokenInstance"
            placeholder="apiTokenInstance"
          />
          <button
            class="btn btn-primary btn-sm align-self-start"
            type="button"
            :disabled="isDisabled.getSettings"
            @click="getSettings"
          >
            getSettings
          </button>
          <button
            class="btn btn-primary btn-sm align-self-start"
            type="button"
            :disabled="isDisabled.getStateInstance"
            @click="getStateInstance"
          >
            getStateInstance
          </button>
          <input
            class="form-control form-control-sm"
            v-model="chatId"
            placeholder="chatId"
          />
          <textarea
            class="form-control form-control-sm"
            v-model="message"
            placeholder="message"
          ></textarea>
          <button
            class="btn btn-primary btn-sm align-self-start"
            type="button"
            :disabled="isDisabled.sendMessage"
            @click="sendMessage"
          >
            sendMessage
          </button>
          <input
            class="form-control form-control-sm"
            v-model="chatId"
            placeholder="chatId"
          />
          <input
            class="form-control form-control-sm"
            v-model="urlFile"
            placeholder="urlFile"
          />
          <input
            class="form-control form-control-sm"
            v-model="fileName"
            placeholder="fileName"
          />
          <button
            class="btn btn-primary btn-sm align-self-start"
            type="button"
            :disabled="isDisabled.sendFileByUrl"
            @click="sendFileByUrl"
          >
            sendFileByUrl
          </button>
        </div>
        <div class="col-md-6 d-flex flex-column row-gap-3">
          <label>Ответ:</label>
          <textarea
            class="form-control form-control-sm flex-grow-1"
            v-model="response"
            readonly
          ></textarea>
        </div>
      </form>
    </div>
  </body>
</html>
