<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>green-api-test-task</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <style>
      textarea {
        resize: none;
      }
    </style>
    <script type="module">
      import "https://unpkg.com/axios@1.7.2/dist/axios.min.js";
      import {
        computed,
        createApp,
        ref,
      } from "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js";

      createApp({
        setup() {
          const apiUrl = ref();

          const idInstance = ref();

          const apiTokenInstance = ref();

          const response = ref();

          const sendRequest = async (path, data) => {
            try {
              const { data: d } = await axios({
                ...(data && { method: "POST", data }),
                url: `${apiUrl.value}/waInstance${idInstance.value}/${path}/${apiTokenInstance.value}`,
              });

              response.value = JSON.stringify(d, null, 2);
            } catch (error) {
              response.value = error.response?.data;
            }
          };

          const getSettings = () => sendRequest("getSettings");

          const getStateInstance = () => sendRequest("getStateInstance");

          const chatId = ref();

          const message = ref();

          const sendMessage = () =>
            sendRequest("sendMessage", {
              chatId: chatId.value,
              message: message.value,
            });

          const urlFile = ref();

          const fileName = ref();

          const sendFileByUrl = () =>
            sendRequest("sendFileByUrl", {
              chatId: chatId.value,
              urlFile: urlFile.value,
              fileName: fileName.value,
            });

          const isDisabled = computed(() => {
            const shouldDisable = !(
              apiUrl.value &&
              idInstance.value &&
              apiTokenInstance.value
            );

            return {
              getSettings: shouldDisable,
              getStateInstance: shouldDisable,
              sendMessage: shouldDisable || !(chatId.value && message.value),
              sendFileByUrl:
                shouldDisable ||
                !(chatId.value && urlFile.value && fileName.value),
            };
          });

          return {
            apiTokenInstance,
            apiUrl,
            chatId,
            fileName,
            getSettings,
            getStateInstance,
            idInstance,
            isDisabled,
            message,
            response,
            sendFileByUrl,
            sendMessage,
            urlFile,
          };
        },
      }).mount("#app");
    </script>
  </head>
  <body>
    <div id="app" class="container-xxl">
      <form class="row row-gap-3 py-3">
        <div class="col-md-6 d-flex flex-column row-gap-3">
          <input
            class="form-control form-control-sm"
            v-model="apiUrl"
            placeholder="apiUrl"
          />
          <input
            class="form-control form-control-sm"
            v-model="idInstance"
            placeholder="idInstance"
          />
          <input
            class="form-control form-control-sm"
            v-model="apiTokenInstance"
            placeholder="apiTokenInstance"
          />
          <button
            class="btn btn-primary btn-sm align-self-start"
            type="button"
            :disabled="isDisabled.getSettings"
            @click="getSettings"
          >
            getSettings
          </button>
          <button
            class="btn btn-primary btn-sm align-self-start"
            type="button"
            :disabled="isDisabled.getStateInstance"
            @click="getStateInstance"
          >
            getStateInstance
          </button>
          <input
            class="form-control form-control-sm"
            v-model="chatId"
            placeholder="chatId"
          />
          <textarea
            class="form-control form-control-sm"
            v-model="message"
            placeholder="message"
          ></textarea>
          <button
            class="btn btn-primary btn-sm align-self-start"
            type="button"
            :disabled="isDisabled.sendMessage"
            @click="sendMessage"
          >
            sendMessage
          </button>
          <input
            class="form-control form-control-sm"
            v-model="chatId"
            placeholder="chatId"
          />
          <input
            class="form-control form-control-sm"
            v-model="urlFile"
            placeholder="urlFile"
          />
          <input
            class="form-control form-control-sm"
            v-model="fileName"
            placeholder="fileName"
          />
          <button
            class="btn btn-primary btn-sm align-self-start"
            type="button"
            :disabled="isDisabled.sendFileByUrl"
            @click="sendFileByUrl"
          >
            sendFileByUrl
          </button>
        </div>
        <div class="col-md-6 d-flex flex-column row-gap-3">
          <label>Ответ:</label>
          <textarea
            class="form-control form-control-sm flex-grow-1"
            v-model="response"
            readonly
          ></textarea>
        </div>
      </form>
    </div>
  </body>
</html>
